<div class="page-container full-width">
    <main>
        <h1 class="text-center text-danger">My Analysis</h1>
        <div class="table-responsive">
            <table>
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Package</th>
                        <th>Date Created</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Title goes here</td>
                        <td>DIAMOND</td>
                        <td>12/12/2021</td>
                        <td>
                            <button class="btn btn-danger btn-slim">
                                Delete
                            </button>
                        </td>
                        <td>
                            <a [routerLink]="['/auth', 'payment']"
                                [queryParams]="{ purpose: 'sponsorship' }" 
                                class="btn btn-success text-decoration-none">
                               Sponsor
                            </a>
                        </td>
                        <td>
                            <a [routerLink]="['/auth', 'analysis-feed', 2]" 
                                class="btn btn-danger text-decoration-none">
                                View
                            </a>
                        </td>
                        <td>
                            <a [routerLink]="['edit']" class="btn btn-primary text-decoration-none">
                                Edit
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Title goes here</td>
                        <td>DIAMOND</td>
                        <td>12/12/2021</td>
                        <td>
                            <button class="btn btn-danger btn-slim">
                                Delete
                            </button>
                        </td>
                        <td>
                            <a [routerLink]="['/auth', 'payment']"
                                [queryParams]="{ purpose: 'sponsorship' }" 
                                class="btn btn-success text-decoration-none">
                               Sponsor
                            </a>
                        </td>
                        <td>
                            <a [routerLink]="['/auth', 'analysis-feed', 2]" 
                                class="btn btn-danger text-decoration-none">
                                View
                            </a>
                        </td>
                        <td>
                            <a [routerLink]="['edit']" class="btn btn-primary text-decoration-none">
                                Edit
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Title goes here</td>
                        <td>DIAMOND</td>
                        <td>12/12/2021</td>
                        <td>
                            <button class="btn btn-danger btn-slim">
                                Delete
                            </button>
                        </td>
                        <td>
                            <a [routerLink]="['/auth', 'payment']"
                                [queryParams]="{ purpose: 'sponsorship' }" 
                                class="btn btn-success text-decoration-none">
                               Sponsor
                            </a>
                        </td>
                        <td>
                            <a [routerLink]="['/auth', 'analysis-feed', 2]" 
                                class="btn btn-danger text-decoration-none">
                                View
                            </a>
                        </td>
                        <td>
                            <a [routerLink]="['edit']" class="btn btn-primary text-decoration-none">
                                Edit
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p class="text-right mt-20">
            <a [routerLink]="['add']" class="btn btn-danger text-decoration-none">
                Add
            </a>
        </p>
    </main>
</div>