<ion-content [fullscreen]="true">
    <!-- <syncspace-crypto-analysis-theme-toggle></syncspace-crypto-analysis-theme-toggle> -->
    <section class="page-container full-width">
       <main class="page-content">
            <div class="form-section">
                <h2 class="no-padding text-danger text-center">
                    Forgot Password
                </h2>
                <p class="no-margin text-center page-subcaption">
                    Check your mailbox and click the verfication link sent to you.
                </p>
                <form>
                    <div class="form-group">
                        <label for="email">Email*</label>
                        <input type="email" id="email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-danger btn-block">
                           Submit
                        </button>
                    </div>
                    <div class="form-group"> 
                        <ul class="no-margin no-padding">
                            <li>
                                <p class="no-margin">
                                    Already have an account <a [routerLink]="['/login']">Login</a>
                                </p>
                            </li>
                            <!-- <li>
                                <p class="text-right no-margin">
                                    <a [routerLink]="['/forgot-password']">Forgot Password</a>
                                </p>
                            </li> -->
                        </ul>
                    </div>
                </form>
            </div>
        </main>
    </section>
</ion-content>