<section class="page-container full-width">
    <main class="page-content">
        <div class="form-section">
            <h2 class="no-padding text-danger text-center">Update Profile</h2>
            <form>
                <div class="form-group">
                    <label for="analysis-image">Image*</label>&nbsp;
                    <input accept="image/*" 
                        type="file" 
                        id="analysis-image" 
                        class="display-none"
                        #fileUploadEl />
                    <button class="btn btn-danger slim-button" 
                        (click)="fileUploadEl.click()">
                        Select Image
                    </button>
                    <ng-container>
                        <div class="image-preview mt-20 full-width">
                            <img src="/assets/images/financial-analysis-pic1.jpg" alt="Analysis image" />
                        </div>
                    </ng-container>
                </div>
                <div class="form-group">
                    <label for="first-name">First Name*</label>
                    <input type="text" id="first-name" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="last-name">Last Name*</label>
                    <input type="text" id="last-name" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="email">Email*</label>
                    <input type="email" id="email" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="phone">Phone*</label>
                    <input type="tel" id="phone" class="form-control" />
                </div>
                <div class="form-group">
                    <label for="country">Country*</label>
                    <select id="country" class="form-control">
                        <option>Select Country</option>
                        <option value="">Nigeria</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="password">Password*</label>
                    <input type="password" id="password" class="form-control" />
                </div>
                <div class="form-group">
                    <button class="btn btn-danger btn-block">
                       Update
                    </button>
                </div>
            </form>
        </div>
    </main>
</section>