<ion-content [fullscreen]="true">
    <syncspace-crypto-analysis-theme-toggle></syncspace-crypto-analysis-theme-toggle>
    <section class="page-container full-width" [ngClass]="{ 'closed': ref.isOpen }">
        <syncspace-crypto-analysis-nav-sidebar (closeNavbar)="ref.isOpen = false"></syncspace-crypto-analysis-nav-sidebar>

        <header class="full-width">
            <nav class="nav-lg full-width">
                <div class="nav-section-widget">
                    <!-- <img src="./assets/images/buncryp-logo.png" /> -->
                    <h1 class="h5">SYNCSPACE</h1>
                </div>
                <div class="nav-section-widget text-right hidden-md-down">
                    <ul class="no-margin no-padding">
                        <li>
                            <a [routerLink]="['/home']" [routerLinkActive]="'active'">Home</a>
                        </li>
                        <li>
                            <a [routerLink]="['/privacy']" [routerLinkActive]="'active'">Privacy</a>
                        </li>
                        <li>
                            <a [routerLink]="['/contact']"  [routerLinkActive]="'active'">Contact</a>
                        </li>
                        <li>
                            <a [routerLink]="['/faq']"  [routerLinkActive]="'active'">FAQ</a>
                        </li>
                        <!-- <li>
                            <a [routerLink]="['/login']" class="btn btn-primary">Login</a>
                        </li> -->
                        <li>
                            <a [routerLink]="['/sign-up']" class="btn btn-danger">Sign up</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-section-widget text-right visible-flex-md-down">
                    <p class="hamburger-menu full-width text-right open-sidebar" 
                      syncspaceCryptoAnalysisNavbarToggle
                      #ref="syncspaceCryptoAnalysisNavbarToggle">
                        <span class="top"></span>
                        <span class="middle"></span>
                        <span class="bottom"></span>
                    </p>
                </div>
            </nav>
        </header>

        <main class="page-content">
            <div class="form-section">
                <h2 class="no-padding text-danger text-center">
                    Forgot Password
                </h2>
                <p class="no-margin text-center page-subcaption">
                    Check your mailbox and click the verfication link sent to you.
                </p>
                <form>
                    <div class="form-group">
                        <label for="email">Email*</label>
                        <input type="email" id="email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <button class="btn btn-danger btn-block">
                           Submit
                        </button>
                    </div>
                    <div class="form-group"> 
                        <ul class="no-margin no-padding">
                            <li>
                                <p class="no-margin">
                                    Already have an account <a href="./login.html">Login</a>
                                </p>
                            </li>
                            <!-- <li>
                                <p class="text-right no-margin">
                                    <a href="./forgot-password.html">Forgot Password</a>
                                </p>
                            </li> -->
                        </ul>
                    </div>
                </form>
            </div>
        </main>

        <syncspace-crypto-analysis-footer></syncspace-crypto-analysis-footer>
    </section>
</ion-content>