<ion-content [fullscreen]="true">
    <syncspace-crypto-analysis-theme-toggle></syncspace-crypto-analysis-theme-toggle>
    <section class="page-container full-width" [ngClass]="{ 'closed': ref.isOpen }">
        <syncspace-crypto-analysis-nav-sidebar (closeNavbar)="ref.isOpen = false"></syncspace-crypto-analysis-nav-sidebar>
        <header class="full-width">
            <nav class="nav-lg full-width">
                <div class="nav-section-widget">
                    <!-- <img src="./assets/images/buncryp-logo.png" /> -->
                    <h1 class="h5">SYNCSPACE</h1>
                </div>
                <div class="nav-section-widget text-right hidden-md-down">
                    <ul class="no-margin no-padding">
                        <li>
                            <a [routerLink]="['/home']" [routerLinkActive]="'active'">Home</a>
                        </li>
                        <li>
                            <a [routerLink]="['/privacy']" [routerLinkActive]="'active'">Privacy</a>
                        </li>
                        <li>
                            <a [routerLink]="['/contact']"  [routerLinkActive]="'active'">Contact</a>
                        </li>
                        <li>
                            <a [routerLink]="['/faq']"  [routerLinkActive]="'active'">FAQ</a>
                        </li>
                        <!-- <li>
                            <a [routerLink]="['/login']" class="btn btn-primary">Login</a>
                        </li> -->
                        <li>
                            <a [routerLink]="['/sign-up']" class="btn btn-danger">Sign up</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-section-widget text-right visible-flex-md-down">
                    <p class="hamburger-menu full-width text-right open-sidebar" 
                      syncspaceCryptoAnalysisToggle
                      #ref="syncspaceCryptoAnalysisToggle">
                        <span class="top"></span>
                        <span class="middle"></span>
                        <span class="bottom"></span>
                    </p>
                </div>
            </nav>
        </header>

        <main class="page-content">
            <div class="page-widget questions-section" 
                *ngIf="(topPublicFeed$ | async) as topPublicFeed">
                <ul class="no-margin no-padding">
                    <li [routerLinkActive]="'active'" 
                        *ngFor="let feed of topPublicFeed">
                        <a [routerLink]="['/financial-forcast', feed.id]">
                            {{ feed.title | capitalize }}
                        </a>
                    </li>
                </ul>
            </div>
            <div *ngIf="(selectedFeedItem$ | async) as selectedFeedItem" 
                class="page-widget answers-section">
                <h1 class="text-danger no-padding">
                    {{ selectedFeedItem.title | uppercase }}
                </h1>
                <p class="tags">
                    <span class="text-uppercase">
                        {{ selectedFeedItem.categoryTag }}
                    </span>
                </p>

                <div class="answer-widget">
                    <img class="analysis-image" 
                        [src]="selectedFeedItem.imageUrl" 
                        [alt]="selectedFeedItem.title" />
                    <p class="no-margin author-detail">
                        <img [src]="selectedFeedItem.user.profileImageUrl" 
                            [alt]="selectedFeedItem.user.firstName + ' ' + selectedFeedItem.user.lastName" />
                        <!-- <img src="./assets/images/user-icon-female-muslim.png" alt="">  -->
                        {{ selectedFeedItem.user.firstName }} {{ selectedFeedItem.user.lastName }}
                    </p>
                    <p class="date-tag no-margin">
                        <i class="fa fa-calendar"></i> {{ selectedFeedItem.dateCreated | date : 'short' }}
                    </p>
                    <!-- <h5 class="subheading no-padding">What are crypts?</h5> -->
                    <p class="content">
                        {{ selectedFeedItem.body | capitalize }}
                    </p>
                </div>

                <div class="comment-widget full-width">
                    <button class="btn btn-danger btn-block" 
                    syncspaceCryptoAnalysisToggle
                    #refComment="syncspaceCryptoAnalysisToggle">
                        Comment({{ selectedFeedItem.commentsForThisFeed?.length ?? 0 }})
                    </button>
                    <div class="comment-list full-width" 
                        [ngClass]="{ 'hidden-visually': !refComment.isOpen }">
                        <div *ngFor="let comment of selectedFeedItem.commentsForThisFeed" class="comment">
                            <h5 class="no-margin comment-author">
                                <img [src]="comment.user.profileImageUrl" 
                                    [alt]="comment.user.firstName + ' ' +comment.user.lastName" />
                                {{ comment.user.firstName }} {{ comment.user.lastName }} | <span><i class="fa fa-calendar"></i> {{  comment.dateCreated | date : 'short' }}</span>
                            </h5>
                            <p class="no-margin">
                                {{ comment.body | capitalize }}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        
        <syncspace-crypto-analysis-footer></syncspace-crypto-analysis-footer>
    </section>
</ion-content>