    <section class="page-container full-width">
        <main class="page-content">
            <div class="form-section">
                <h2 class="no-padding text-danger text-center">Add Analysis</h2>
                <form [formGroup]="addAnalysisForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="analysis-image">Image*</label>&nbsp;
                        <input accept="image/*" 
                            type="file" 
                            id="analysis-image" 
                            class="display-none"
                            (change)="onChange($event)"
                            #fileUploadEl />
                        <button class="btn btn-danger slim-button" 
                            (click)="fileUploadEl.click()">
                            Select Image
                        </button>
                        <ng-container *ngIf="imageBase64Url">
                            <div class="image-preview mt-20 full-width">
                                <!-- <syncspace-crypto-analysis-cached-image 
                                    [src]="'https://fakestoreapi.com/img/61mtL65D4cL._AC_SX679_.jpg'">
                                </syncspace-crypto-analysis-cached-image> -->
                                <img [src]="imageBase64Url" alt="feed Image" />
                            </div>
                        </ng-container>
                    </div>
                    <div class="form-group">
                        <label for="title">Title*</label>
                        <input [formControlName]="'title'" 
                            type="text" 
                            id="title" 
                            class="form-control" />
                        <span *ngIf="addAnalysisForm.get('title').touched && addAnalysisForm.get('title').errors as errorList">
                            <p class="form-helper danger" *ngIf="errorList['required']">Required field</p>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="analysis-content">Content*</label>
                        <textarea class="form-textarea" 
                            [formControlName]="'content'"
                            id="analysis-content" 
                            cols="30" 
                            rows="10"></textarea>
                        <span *ngIf="addAnalysisForm.get('content').touched && addAnalysisForm.get('content').errors as errorList">
                            <p class="form-helper danger" *ngIf="errorList['required']">Required field</p>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="category">Category*</label>
                        <select [formControlName]="'category'" 
                            id="category" 
                            class="form-control">
                            <option [value]="categoryOption" 
                                *ngFor="let categoryOption of categoryOptions">
                                {{ categoryOption }}
                            </option>
                        </select>
                        <span *ngIf="addAnalysisForm.get('category').touched && addAnalysisForm.get('category').errors as errorList">
                            <p class="form-helper danger" *ngIf="errorList['required']">Required field</p>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="visible-to">Accessible to*</label>
                        <div class="radio" 
                            *ngFor="let accessLevel of accessiblityOptions; let i = index">
                            <input [formControlName]="'accessibleTo'" 
                                id="radio-{{ i + 1 }}" 
                                type="radio" 
                                [value]="accessLevel"
                                [checked]="i === 0" />
                            <label for="radio-{{ i + 1 }}" 
                                class="radio-label cursor-pointer">{{ accessLevel }}</label>
                          </div>
                        
                          <!-- <div class="radio">
                            <input id="radio-2" name="visible-to" type="radio" />
                            <label  for="radio-2" class="radio-label cursor-pointer">Only Subscribers</label>
                          </div>
                        
                          <div class="radio">
                            <input id="radio-3" name="visible-to" type="radio" />
                            <label for="radio-3" class="radio-label cursor-pointer">Specific Package</label>
                          </div> -->
                    </div>
                    <ng-container *ngIf="addAnalysisForm.get('package')">
                        <div class="form-group">
                            <label for="last-name">Package*</label>
                            <select [formControlName]="'package'" 
                                id="market" 
                                class="form-control">
                                <option [value]="package.id" 
                                    *ngFor="let package of (packagesCreatedByUser$ | async)">
                                    {{ package.name | uppercase }}
                                </option>
                            </select>
                            <span *ngIf="addAnalysisForm.get('package').touched && addAnalysisForm.get('package').errors as errorList">
                                <p class="form-helper danger" *ngIf="errorList['required']">Required field</p>
                            </span>
                        </div>
                    </ng-container>
                    <div class="form-group">
                        <button class="btn btn-danger btn-block" 
                            [disabled]="addAnalysisForm.invalid">
                           Submit
                        </button>
                    </div>
                    <!-- <div class="form-group"> 
                        <ul class="no-margin no-padding">
                            <li>
                                <p class="no-margin text-center">
                                    Already have an account <a [routerLink]="['/login']">Login</a>
                                </p>
                            </li>
                            <li>
                                <p class="text-right no-margin">
                                    <a [routerLink]="['/forgot-password']">Forgot Password</a>
                                </p>
                            </li>
                        </ul>
                    </div> -->
                </form>
            </div>
        </main>
</section>