<div class="page-container full-width">
    <main>
        <h1 class="text-center text-danger">Analyst Applicants</h1>
        <div class="table-responsive">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Country</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Annie Fraser</td>
                        <td>annie@gmail.com</td>
                        <td>+23409408859</td>
                        <td>Nigeria</td>
                        <td>
                            <!-- Only activate this button for users with role of Analysts -->
                            <a [routerLink]="['/auth', 'user-feed', 123]" class="btn btn-primary text-decoration-none">
                                View
                            </a>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-slim">
                                Reject
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-success btn-slim">
                                Accept
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>Annie Fraser</td>
                        <td>annie@gmail.com</td>
                        <td>+23409408859</td>
                        <td>Nigeria</td>
                        <td>
                            <!-- Only activate this button for users with role of Analysts -->
                            <a [routerLink]="['/auth', 'user-feed', 123]" class="btn btn-primary text-decoration-none">
                                View
                            </a>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-slim">
                                Reject
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-success btn-slim">
                                Accept
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td>Annie Fraser</td>
                        <td>annie@gmail.com</td>
                        <td>+23409408859</td>
                        <td>Nigeria</td>
                        <td>
                            <!-- Only activate this button for users with role of Analysts -->
                            <a [routerLink]="['/auth', 'user-feed', 123]" class="btn btn-primary text-decoration-none">
                                View
                            </a>
                        </td>
                        <td>
                            <button class="btn btn-danger btn-slim">
                                Reject
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-success btn-slim">
                                Accept
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </main>
</div>