header {
    color: var(--primary-text-color);

    nav {
        padding: 10px 20px;
        background: var(--bg-secondary);
        width: 100%;
        height: 70px;
        box-shadow: var(--box-shadow-md);

        display: flex;
        justify-content: center;
        align-items: center;
        flex: 1 1;

        position: fixed;
        z-index: 99;
        top: 0;
        left: 0;

        .nav-section {
            width: 50%;

            ion-icon {
                --font-size: 25px;
                font-size: var(--font-size);
            }

            &:first-child {
                ion-icon {
                    --font-size: 35px;
                }

                ul {
                    li {
                        list-style: none;
                        display: inline;

                        a {
                            color: var(--primary-text-color);
                        }
                    }
                }
            }

            &:last-child {
                ul {
                    li {
                        list-style: none;
                        display: inline;
                        padding: 0 20px 5px 20px;
                        vertical-align: middle;

                        &:first-of-type {
                            padding-top: 5px;
                        }

                        a {
                            font-size: 18px;
                            color: var(--primary-text-color);
                        }
                    }
                }
            }
        }
    }
}

.side-bar-nav {
    width: 20%;
    height: 100vh;
    background: var(--bg-secondary);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    box-shadow: var(-box-shadow-xl);

    .logo-section {
        padding: 30px 10px 20px 10px;
        border-bottom: 1px solid var(--border-color);
        background: var(--bg-primary);

        h5 {
            letter-spacing: 1.5px;
        }

        img {
            width: 70px;
            height: 70px;
            border-radius: 100%;
        }
    }

    .nav-content {
        height: 70%;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            width: 8px;
        }
            
        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
            border-radius: 20px;
        }
    }

    ul {
        padding: 10px;

        li {
            list-style: none;
            padding: 5px 20px 10px 20px;
            cursor: pointer;
            border-left: 5px solid var(--bg-secondary);
            border-bottom: 1px solid var(--bg-secondary);
            // border-radius: 5px 0 0 5px;

            &:first-of-type {
                background: var(--bg-secondary);
            }

            &:hover,
            &.active {
                background: var(--bg-primary);
                border-left: 5px solid var(--danger-color);
                border-bottom: 1px solid var(--border-color);
            }

            a {
                --font-size: 15px;
                font-size: var(--font-size);
                text-decoration: none;
                color: var(--primary-text-color);
                letter-spacing: 1.5px;

                span {
                    padding: 5px 10px;
                }

                ion-icon {
                    // vertical-align: middle;
                }
            }
        }
    }

    .subheader {
        padding: 10px 15px;

        .subheading {
            padding-bottom: 0;
            color: var(--secondary-text-color);
        }

        ul {
            padding: 10px 0 0 0;

            li {
                // padding: 5px;
                padding: 5px 20px 10px 20px;

                a {
                    --font-size: 14px;
                    font-size: var(--font-size);
                }
            }
        }
    }
}

.page-content {
    width: 100%;
    margin: 0 auto;
    padding: 80px 20px 20px 20px;
}

.normalize-page-content {
    width: 90%;
    margin: 0 auto;
}

@media (max-width: 992px) {
    .side-bar-nav {
        width: 25% !important;
    }

    .page-content {
        width: 100% !important;
    }
}

@media (max-width: 768px) { 
    .side-bar-nav {
        width: 45% !important;
    }

    .page-content {
        width: 100% !important;
    }
}

@media (max-width: 576px) { 
    .side-bar-nav {
        width: 60% !important;
    }

    .page-content {
        width: 100%;
    }
}