<main>
    <div class="entry-widget-section full-width">
        <div class="entry-widget">
            <h5 class="text-danger text-center no-padding">Active page views</h5>
            <h2 class="text-center">81</h2>
        </div>
        <div class="entry-widget">
            <h5 class="text-danger text-center no-padding">Active page views</h5>
            <h2 class="text-center">81</h2>
        </div>
        <div class="entry-widget">
            <h5 class="text-danger text-center no-padding">Active page views</h5>
            <h2 class="text-center">81</h2>
        </div>
        <div class="entry-widget">
            <h5 class="text-danger text-center no-padding">Active page views</h5>
            <h2 class="text-center">81</h2>
        </div>
    </div>

    <div class="dashboard-content-section full-width">
        <div class="dashboard-content-widget">
            <ion-card>
                <ion-card-header>
                  <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
                  <ion-card-title>Recomended Analysts</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <div class="analysts-section full-width">
                      <div class="analysts-widget">
                          <div class="info-section widget-section">
                            <h3>
                                <img src="/assets/images/user-icon-female.png" alt="Jane Doe" />
                                &nbsp;Jane Doe
                            </h3>
                          </div>
                          <div class="action-section widget-section text-right">
                              <a href="" class="btn btn-danger text-decoration-none">
                                Subscribe
                              </a>
                          </div>
                      </div>
                      <div class="analysts-widget">
                            <div class="info-section widget-section">
                            <h3>
                                <img src="/assets/images/user-icon-female.png" alt="Jane Doe" />
                                &nbsp;Jane Doe
                            </h3>
                            </div>
                            <div class="action-section widget-section">
                                <a href="" class="btn btn-danger text-decoration-none">
                                Subscribe
                                </a>
                            </div>
                        </div>
                        <div class="analysts-widget">
                            <div class="info-section widget-section">
                            <h3>
                                <img src="/assets/images/user-icon-female.png" alt="Jane Doe" />
                                &nbsp;Jane Doe
                            </h3>
                            </div>
                            <div class="action-section widget-section text-right">
                                <a href="" class="btn btn-danger text-decoration-none">
                                Subscribe
                                </a>
                            </div>
                        </div>
                  </div>
                </ion-card-content>
              </ion-card>
        </div>
        <div class="dashboard-content-widget">
            <div class="sponsored-analysis-section">
                <!-- <h3>Sponsored Analysis</h3> -->
                <h3>Sponsored Posts</h3>
                <div class="sponsored-analysis-widget">
                    <h5>
                        <img src="/assets/images/user-icon-female.png" alt="user" />
                        &nbsp;
                        Damian Diamler | <span><i class="fa fa-calendar"></i> 21/12/2012</span>
                    </h5>
                    <p class="no-margin">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Impedit iure molestias quos atque illum inventore obcaecati et tempora, 
                        accusantium deleniti, ad quibusdam error eaque minima, 
                        dignissimos corporis ex dolore. Veniam, assumenda consequatur tenetur molestiae 
                        quam rerum dicta, et id error perspiciatis vitae? Voluptas ullam tenetur, 
                        quisquam doloremque facere libero culpa.
                        <a href="" class="text-decoration-none view-more-inline-button">
                            View More
                        </a>
                    </p>
                </div>
                <div class="sponsored-analysis-widget">
                    <h5>
                        <img src="/assets/images/user-icon-female.png" alt="user" />
                        &nbsp;
                        Damian Diamler | <span><i class="fa fa-calendar"></i> 21/12/2012</span>
                    </h5>
                    <p class="no-margin">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Impedit iure molestias quos atque illum inventore obcaecati et tempora, 
                        accusantium deleniti, ad quibusdam error eaque minima, 
                        dignissimos corporis ex dolore. Veniam, assumenda consequatur 
                        tenetur molestiae quam rerum dicta, et id error perspiciatis vitae?
                        Voluptas ullam tenetur, quisquam doloremque facere libero culpa.
                        <a href="" class="text-decoration-none view-more-inline-button">
                            View More
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</main>