<main>
    <div class="entry-widget-section full-width" 
        *ngIf="(dashboardStats$ | async) as dashboardStats">
        <div class="entry-widget" *ngFor="let stats of dashboardStats">
            <h5 class="text-danger text-center no-padding">{{ stats.key | uppercase }}</h5>
            <h2 class="text-center">{{ stats.value }}</h2>
        </div>
    </div>

    <div class="dashboard-content-section full-width">
        <div class="dashboard-content-widget">
            <ion-card>
                <ion-card-header>
                  <ion-card-title>Recomended Analysts</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <div class="analysts-section full-width">
                      <ng-container *ngIf="(recommendedAnalysts$ | async)?.length > 0; else noContentSection">
                        <div class="analysts-widget" *ngFor="let analyst of (recommendedAnalysts$ | async)">
                            <div class="info-section widget-section">
                              <h3>
                                <img [src]="analyst.user.profileImageUrl" [alt]="analyst.user.firstName" />
                                &nbsp;{{ analyst.user.firstName }}{{ analyst.user.lastName }}
                              </h3>
                            </div>
                            <div class="action-section widget-section text-right">
                                <button class="btn btn-slim btn-danger" (click)="onSubscribe(analyst.id)">
                                    Subscribe
                                </button>
                            </div>
                        </div>
                      </ng-container>
                      <ng-template #noContentSection>
                        <div class="analysts-widget">
                            <syncspace-crypto-analysis-no-content></syncspace-crypto-analysis-no-content>
                        </div>
                      </ng-template>
                  </div>
                </ion-card-content>
              </ion-card>
        </div>
        <div class="dashboard-content-widget" 
            *ngIf="(sponsoredPosts$ | async) as sponsoredPosts">
            <div class="sponsored-analysis-section">
                <h3>Sponsored Posts</h3>
                <ng-container *ngIf="sponsoredPosts?.length > 0; else defaultSection">
                    <div class="sponsored-analysis-widget" 
                       *ngFor='let post of sponsoredPosts'>
                        <h5>
                            <img [src]="post.user.profileImageUrl" [alt]="post.user.firstName" />
                            &nbsp;
                            {{ post.user.firstName }} {{ post.user.lastName }}
                             | <span><i class="fa fa-calendar"></i> {{ post.dateCreated | date : 'short' }}</span>
                        </h5>
                        <p class="no-margin">
                            {{ post.body | summarizeContent : 150 | capitalize}}
                            <a [routerLink]="['/auth', 'analysis-feed', post.id]" 
                                class="text-decoration-none view-more-inline-button">
                                View More
                            </a>
                        </p>
                    </div>
                </ng-container>
                <ng-template #defaultSection>
                    <div class="sponsored-analysis-widget">
                        <syncspace-crypto-analysis-no-content></syncspace-crypto-analysis-no-content>
                     </div> 
                </ng-template>               
            </div>
        </div>
    </div>
</main>