<section class="page-container full-width">
        <main class="page-content">
            <div class="form-section">
                <h2 class="no-padding text-danger text-center">Add Plan</h2>
                <form [formGroup]="addSubscriptionForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="title">Package Name*</label>
                        <input type="text" 
                            [formControlName]="'name'" 
                            id="title" 
                            class="form-control" />
                        <span *ngIf="addSubscriptionForm.get('name').touched && addSubscriptionForm.get('name').errors as errorList">
                            <p class="form-helper danger" *ngIf="errorList['required']">Required field</p>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="duration">Duration*</label>
                        <select [formControlName]="'duration'" 
                            id="duration" 
                            class="form-control">
                            <option [value]="duration" 
                                *ngFor="let duration of durationOptions">
                                {{ duration }}
                            </option>
                        </select>
                        <span *ngIf="addSubscriptionForm.get('duration').touched && addSubscriptionForm.get('duration').errors as errorList">
                            <p class="form-helper danger" *ngIf="errorList['required']">Required field</p>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="price">Price*</label>
                        <input [formControlName]="'price'" 
                            type="number" 
                            min="0" 
                            id="price" 
                            class="form-control" />
                        <span *ngIf="addSubscriptionForm.get('price').touched && addSubscriptionForm.get('price').errors as errorList">
                            <p class="form-helper danger" *ngIf="errorList['required']">Required field</p>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="description">Description*</label>
                        <textarea [formControlName]="'description'" 
                            class="form-textarea" 
                            id="description" 
                            cols="30" 
                            rows="10">
                        </textarea>
                        <span *ngIf="addSubscriptionForm.get('description').touched && addSubscriptionForm.get('description').errors as errorList">
                            <p class="form-helper danger" *ngIf="errorList['required']">Required field</p>
                        </span>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-danger btn-block" 
                            [disabled]="addSubscriptionForm.invalid">
                           Submit
                        </button>
                    </div>
                    <!-- <div class="form-group"> 
                        <ul class="no-margin no-padding">
                            <li>
                                <p class="no-margin text-center">
                                    Already have an account <a [routerLink]="['/login']">Login</a>
                                </p>
                            </li>
                            <li>
                                <p class="text-right no-margin">
                                    <a [routerLink]="['/forgot-password']">Forgot Password</a>
                                </p>
                            </li>
                        </ul>
                    </div> -->
                </form>
            </div>
        </main>
</section>