<ion-content [fullscreen]="true">
    <section class="page-container full-width">
       <main class="page-content">
            <div class="form-section">
                <h2 class="no-padding text-danger text-center">
                    Change Password
                </h2>
                <!-- <p class="no-margin text-center page-subcaption">
                    Check your mailbox and click the verfication link sent to you.
                </p> -->
                <form [formGroup]="changePasswordForm" 
                    (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="password">Password*</label>
                        <input type="password" 
                            [formControlName]="'password'"
                            id="password" 
                            class="form-control"
                            #password />
                        <span *ngIf="changePasswordForm.get('password').touched && changePasswordForm.get('password').errors as errorList">
                            <p class="form-helper danger" *ngIf="errorList['required']">Required field</p>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="password">Confirm Password*</label>
                        <input type="password" 
                            [formControlName]="'confirmPassword'"
                            #confirmPassword
                            (input)="onInput(password.value, confirmPassword.value)"
                            id="confirm-password" 
                            class="form-control" />
                        <span *ngIf="changePasswordForm.get('confirmPassword').touched && changePasswordForm.get('confirmPassword').errors as errorList">
                            <p class="form-helper danger" *ngIf="errorList['required']">Required field</p>
                        </span>
                        <span *ngIf="changePasswordForm.get('confirmPassword').touched && !arePasswordEqual">
                            <p class="form-helper danger">Password must be the same</p>
                        </span>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-danger btn-block"
                            [disabled]="changePasswordForm.invalid || !arePasswordEqual">
                           Change
                        </button>
                    </div>
                    <div class="form-group"> 
                        <ul class="no-margin no-padding">
                            <li>
                                <p class="no-margin">
                                    Already have an account <a [routerLink]="['/login']">Login</a>
                                </p>
                            </li>
                            <!-- <li>
                                <p class="text-right no-margin">
                                    <a [routerLink]="['/forgot-password']">Forgot Password</a>
                                </p>
                            </li> -->
                        </ul>
                    </div>
                </form>
            </div>
        </main>
    </section>
</ion-content>