<footer class="footer full-width">
    <div class="footer-top full-widt">
        <div class="footer-top-widget nav-links-section">
          <ul class="no-padding no-margin">
              <li>
                <a [routerLink]="['/home']">Home</a>
              </li>
              <li>
                  <a [routerLink]="['/privacy']">Policy</a>
              </li>
              <li>
                  <a [routerLink]="['/contact']">Contact</a>
              </li>
              <!-- <li>
                  <a [routerLink]="['/login']">Login</a>
              </li> -->
              <li>
                  <a href="{{ userAppUrl }}/login">Login</a>
              </li>
              <!-- <li>
                  <a [routerLink]="['/sign-up']">Sign up</a>
              </li> -->
              <li>
                  <a href="{{ userAppUrl }}/sign-up">Sign up</a>
              </li>
        </ul>
        </div>
        <div class="footer-top-widget nav-links-section">
          <ul class="no-padding no-margin">
              <li>
                  <a href="">
                      <i class="fa fa-facebook"></i>
                  </a>
              </li>
              <li>
                  <a href="">
                      <i class="fa fa-twitter"></i>
                  </a>
              </li>
              <li>
                  <a href="">
                      <i class="fa fa-linkedin"></i>
                  </a>
              </li>
          </ul>
    </div>
  </div>

      <div class="footer-bottom">
          <p class="no-margin no-padding">
              &copy; {{ year }}. All rights reserved
          </p>
      </div>
  </footer>
