<ion-content [fullscreen]="true">
    <syncspace-crypto-analysis-theme-toggle></syncspace-crypto-analysis-theme-toggle>
    <section class="page-container full-width" [ngClass]="{ 'closed': ref.isOpen }">
        <syncspace-crypto-analysis-nav-sidebar 
            [userAppUrl]="env.userAppUrl" 
            (closeNavbar)="ref.isOpen = false">
        </syncspace-crypto-analysis-nav-sidebar>
        <header class="full-width">
            <nav class="nav-lg full-width">
                <div class="nav-section-widget">
                    <!-- <img src="./assets/images/buncryp-logo.png" /> -->
                    <h1 class="h5">SYNCSPACE</h1>
                </div>
                <div class="nav-section-widget text-right hidden-md-down">
                    <ul class="no-margin no-padding">
                        <li>
                            <a [routerLink]="['/home']" [routerLinkActive]="'active'">Home</a>
                        </li>
                        <li>
                            <a [routerLink]="['/privacy']" [routerLinkActive]="'active'">Privacy</a>
                        </li>
                        <li>
                            <a [routerLink]="['/contact']"  [routerLinkActive]="'active'">Contact</a>
                        </li>
                        <li>
                            <a [routerLink]="['/faq']"  [routerLinkActive]="'active'">FAQ</a>
                        </li>
                        <!-- <li>
                            <a [routerLink]="['/login']" class="btn btn-primary">Login</a>
                        </li> -->
                        <!-- <li>
                            <a [routerLink]="['/sign-up']" class="btn btn-danger">Sign up</a>
                        </li> -->
                        <li>
                            <a href="{{ env.userAppUrl }}/sign-up" class="btn btn-danger">Sign up</a>
                        </li>
                    </ul>
                </div>
                <div class="nav-section-widget text-right visible-flex-md-down">
                    <p class="hamburger-menu full-width text-right open-sidebar" 
                      syncspaceCryptoAnalysisToggle
                      #ref="syncspaceCryptoAnalysisToggle">
                        <span class="top"></span>
                        <span class="middle"></span>
                        <span class="bottom"></span>
                    </p>
                </div>
            </nav>
        </header>

        <main class="page-content">
            <div class="page-widget questions-section">
                <ul class="no-margin no-padding">
                    <li class="active">
                        <h5 class="no-padding">
                            <i class="fa fa-map-marker"></i> Address
                        </h5>
                        <p>
                            No. 50 Rodi road, Enugu
                        </p>
                        <p>
                            No. 50 Rodi road, Enugu
                        </p>
                    </li>
                    <li class="active">
                        <h5 class="no-padding">
                           <i class="fa fa-envelope-o"></i> Email
                        </h5>
                        <a href="">
                            gini@gmail.com
                        </a>
                    </li>
                    <li class="active">
                        <h5 class="no-padding">
                           <i class="fa fa-phone"></i> Phone
                        </h5>
                        <a href="">
                            09484884
                        </a>
                    </li>
                </ul>
            </div>
            <div class="page-widget answers-section">
                <h1 class="text-danger no-padding">
                    Contact
                </h1>
                <p class="no-margin page-subcaption">
                    Looking for technical support or want to give 
                    us feedback?
                    Feel free to contact us via message, 
                    &amp; we'll try to get back to you as soon as possible
                </p>

                <form [formGroup]="contactMessageForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="name">Name*</label>
                        <input type="text" id="name" [formControlName]="'name'" class="form-control" />
                        <span *ngIf="contactMessageForm.get('name').touched && contactMessageForm.get('name').errors as errorList">
                            <p class="form-helper danger" *ngIf="errorList['required']">Required field</p>
                          </span>
                    </div>
                    <div class="form-group">
                        <label for="email">Email*</label>
                        <input type="email" id="email" [formControlName]="'email'" class="form-control" />
                        <span *ngIf="contactMessageForm.get('email').touched && contactMessageForm.get('email').errors as errorList">
                            <p class="form-helper danger" *ngIf="errorList['required']">Required field</p>
                            <p class="form-helper danger" *ngIf="errorList['email']">Email required</p>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="message">Message*</label>
                        <textarea [formControlName]="'message'" id="message" class="form-textarea" cols="30" rows="10"></textarea>
                        <span *ngIf="contactMessageForm.get('message').touched && contactMessageForm.get('message').errors as errorList">
                            <p class="form-helper danger" *ngIf="errorList['required']">Required field</p>
                          </span>
                    </div>
                    <div class="form-group">
                        <button type="submit" 
                            [disabled]="contactMessageForm.invalid" 
                            class="btn-block btn btn-danger">
                            Submit
                        </button>
                    </div>
                </form>
            </div>
        </main>

        <syncspace-crypto-analysis-footer [userAppUrl]="env.userAppUrl"></syncspace-crypto-analysis-footer>
    </section>
</ion-content>