<div class="page-container full-width">
    <main>
        <h1 class="text-center text-danger">Subscriptions</h1>
        <div class="table-responsive">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Duration</th>
                        <th>Description</th>
                        <th>Price(₦)</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <ng-container *ngIf="(activeSubscription$ | async).length > 0; else noContent">
                        <tr *ngFor="let package of (activeSubscription$ | async)">
                            <td>{{ package.name }}</td>
                            <td>{{ package.duration }}</td>
                            <td>{{ package.description | capitalize }}</td>
                            <td>{{ package.price }}</td>
                            <td>
                                <button type="button" class="btn btn-danger btn-slim" 
                                    (click)="onDelete(package.id)">
                                    Delete
                                </button>
                            </td>
                            <td>
                                <a [routerLink]="['edit', package.id]" class="btn btn-primary text-decoration-none">
                                    Edit
                                </a>
                            </td>
                            <td>
                                <a [routerLink]="['view-package-subscribers', package.id]" class="btn btn-success text-decoration-none">
                                    Subscribers
                                </a>
                            </td>
                        </tr>
                    </ng-container>
                    <ng-template #noContent>
                        <tr>
                            <td colspan="7">
                                <syncspace-crypto-analysis-no-content></syncspace-crypto-analysis-no-content>
                            </td>
                        </tr>
                    </ng-template>
                </tbody>
            </table>
        </div>
        <p class="text-right mt-20">
            <a [routerLink]="['add']" class="btn btn-danger text-decoration-none">
                Add
            </a>
        </p>
    </main>
</div>