<div class="page-container full-width">
    <main>
        <h1 class="text-center text-danger">Subscriptions</h1>
        <div class="table-responsive">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Duration</th>
                        <th>Description</th>
                        <th>Price</th>
                        <th>Access Level</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Diamond</td>
                        <td>9 MONTHS</td>
                        <td>Lorem ipsum dolor sit amet.</td>
                        <td>#3000</td>
                        <td>PUBLIC</td>
                        <td>
                            <button class="btn btn-danger btn-slim">
                                Delete
                            </button>
                        </td>
                        <td>
                            <a [routerLink]="['edit']" class="btn btn-primary text-decoration-none">
                                Edit
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Diamond</td>
                        <td>9 MONTHS</td>
                        <td>Lorem ipsum dolor sit amet.</td>
                        <td>#3000</td>
                        <td>PUBLIC</td>
                        <td>
                            <button class="btn btn-danger btn-slim">
                                Delete
                            </button>
                        </td>
                        <td>
                            <a [routerLink]="['edit']" class="btn btn-primary text-decoration-none">
                                Edit
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>Diamond</td>
                        <td>9 MONTHS</td>
                        <td>Lorem ipsum dolor sit amet.</td>
                        <td>#3000</td>
                        <td>PUBLIC</td>
                        <td>
                            <button class="btn btn-danger btn-slim">
                                Delete
                            </button>
                        </td>
                        <td>
                            <a [routerLink]="['edit']" class="btn btn-primary text-decoration-none">
                                Edit
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p class="text-right mt-20">
            <a [routerLink]="['add']" class="btn btn-danger text-decoration-none">
                Add
            </a>
        </p>
    </main>
</div>