<div class="page-container full-width">
    <main>
        <h1 class="text-center text-danger">Subscriptions</h1>
        <div class="table-responsive">
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Duration</th>
                        <th>Description</th>
                        <th>Price(₦)</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let package of (activeSubscription$ | async)">
                        <td>{{ package.name }}</td>
                        <td>{{ package.duration }}</td>
                        <td>{{ package.description | capitalize }}</td>
                        <td>{{ package.price }}</td>
                        <td>
                            <button type="button" class="btn btn-danger btn-slim" 
                                (click)="onDelete(package.id)">
                                Delete
                            </button>
                        </td>
                        <td>
                            <a [routerLink]="['edit', package.id]" class="btn btn-primary text-decoration-none">
                                Edit
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p class="text-right mt-20">
            <a [routerLink]="['add']" class="btn btn-danger text-decoration-none">
                Add
            </a>
        </p>
    </main>
</div>