.page-container {
    width: 90%;
    margin: 0 auto;

    main {
        padding: 20px 10px;
        display: grid;
        grid-gap: 20px;
        grid-row-gap: 30px;
        grid-template-columns: repeat(2, 1fr);

        .stats-widget {
            background: var(--bg-secondary);
            box-shadow: var(--box-shadow-md);

            .top {
                height: 300px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .bottom {
                padding: 8px 10px;
            }
        }
    }
}

@media (max-width: 992px) {
    .page-container {
        width: 90%;
    
        main {
            padding: 20px 0;
            grid-row-gap: 20px;
            grid-template-columns: repeat(1, 1fr);

            .stats-widget {
                .top {
                    height: 250px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .page-container {
        width: 90%;
    
        main {
            padding: 20px 0;
            grid-row-gap: 20px;
            grid-template-columns: repeat(1, 1fr);

            .stats-widget {
                .top {
                    height: 250px;
                }
            }
        }
    }
 }

@media (max-width: 576px) { 
    .page-container {
        width: 100%;
    
        main {
            padding: 20px 0;
            grid-row-gap: 20px;
            grid-template-columns: repeat(1, 1fr);

            .stats-widget {
                .top {
                    height: 250px;
                }
            }
        }
    }
}