<div class="page-container">
    <h1 class="text-center text-danger">Statistics</h1>
    <main class="full-width">
        <div class="stats-widget">
            <div class="top full-width">
                <!-- map sectiion -->
                <img src="/assets/images/financial-analysis-pic1.jpg" alt="stats" />
            </div>
            <div class="bottom full-width">
                <h5 class="text-danger">
                    Total growth 2020 third quarter
                </h5>
            </div>
        </div>
        <div class="stats-widget">
            <div class="top full-width">
                <!-- map sectiion -->
                <img src="/assets/images/financial-analysis-pic1.jpg" alt="stats" />
            </div>
            <div class="bottom full-width">
                <h5 class="text-danger">
                    Total growth 2020 third quarter
                </h5>
            </div>
        </div>
        <div class="stats-widget">
            <div class="top full-width">
                <!-- map sectiion -->
                <img src="/assets/images/financial-analysis-pic1.jpg" alt="stats" />
            </div>
            <div class="bottom full-width">
                <h5 class="text-danger">
                    Total growth 2020 third quarter
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit, nesciunt!
                </h5>
            </div>
        </div>
    </main>
</div>