<div class="page-container">
    <main>
        <div class="payment-options-section full-width">
            <div class="payment-option-widget text-center cursor-pointer">
                <img src="/assets/images/paystack-icon.png" alt="paystack" />
                <h4 class="text-center no-padding">
                    Paystack
                </h4>
            </div>
            <div class="payment-option-widget text-center cursor-pointer active">
                <img src="/assets/images/flutterwave-icon.png" alt="flutterwave" />
                <h4 class="text-center no-padding">
                    Flutterwave
                </h4>
            </div>
            <div class="payment-option-widget text-center cursor-pointer">
                <img src="/assets/images/coinbase-icon.png" alt="coinbase" />
                <h4 class="text-center no-padding">
                    Coinbase
                </h4>
            </div>
        </div>

        <div class="payment-actions full-width">
            <p class="text-danger">
                This transaction will cost you ₦3000. 
            </p>
            <p>
                <button class="btn btn-primary btn-slim">
                    Continue
                </button>
            </p>
        </div>
        
    </main>
</div>