<div class="mobile-tags-section full-width visible-md-down">
    <ul class="no-margin no-padding">
        <li>
            <i class="fa fa-filter"></i>
        </li>
        <li>
            Crypto
        </li>
        <li>
            Crypto
        </li>
        <li>
            Crypto
        </li>
        <li>
            Crypto
        </li>
        <li>
            Crypto
        </li>
        <li>
            Crypto
        </li>
        <li>
            Crypto
        </li>
        <li>
            Crypto
        </li>
    </ul>
</div>

<main class="page-container full-width">
    <div class="feed-section page-section" *ngIf="(feeds$ | async) as feeds">
        <syncspace-crypto-analysis-feed-widget 
           *ngFor="let feed of feeds; let last = last"
           [feedItem]="feed" 
           [isLast]="last"
           (like)="onLike($event)"
           (comment)="onComment($event)"
           (commentForm)="onFormReset($event)">
        </syncspace-crypto-analysis-feed-widget>
    </div>

    <div class="tag-section page-section hidden-md-down">
        <h2 class="text-danger text-center no-padding">
            <i class="fa fa-filter"></i> Filters
        </h2>
        <p class="text-center">
            Filter the content your want to see on your feed
        </p>
        <div class="tags-container">
            <div class="tag">
                <div class="tag-inner">
                    Crypto
                </div>
            </div>
            <div class="tag">
                <div class="tag-inner">
                    Crypto
                </div>
            </div>
            <div class="tag">
                <div class="tag-inner">
                    Crypto
                </div>
            </div>
            <div class="tag">
                <div class="tag-inner">
                    Crypto
                </div>
            </div>
        </div>
    </div>
</main>