<div class="mobile-tags-section full-width visible-md-down">
    <ul class="no-margin no-padding">
        <li>
            <i class="fa fa-filter"></i>
        </li>
        <li>
            Crypto
        </li>
        <li>
            Crypto
        </li>
        <li>
            Crypto
        </li>
        <li>
            Crypto
        </li>
        <li>
            Crypto
        </li>
        <li>
            Crypto
        </li>
        <li>
            Crypto
        </li>
        <li>
            Crypto
        </li>
    </ul>
</div>

<main class="page-container full-width">
    <div class="feed-section page-section">
        <div class="feed-widget">
            <div class="feed-header">
                <a [routerLink]="['/auth', 'feed-detail']" class="text-decoration-none">
                    <h4 class="text-capitalize">
                        <img src="/assets/images/user-icon-female.png" alt="" />
                        Timmy Adams
                    </h4>
                </a>
                <p class="no-margin">
                    <i class="fa fa-calendar"></i> 21/12/2021
                </p>
                <p class="post-tag">
                    <span class="text-capitalize">
                        Sponsored
                    </span>
                </p>
            </div>
            <div class="feed-image">
               <img src="/assets/images/financial-analysis-pic1.jpg" alt="" />
            </div>
            <div class="feed-content full-width">
                <a [routerLink]="['/auth', 'feed-detail']" class="text-decoration-none">
                    <h4 class="text-danger text-capitalize">
                        Post title goes here
                    </h4>
                </a>
                <p class="no-margin">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem ut quis placeat est voluptatum officia pariatur labore. Ab rerum incidunt quibusdam ut, corrupti possimus quia reprehenderit laborum aperiam laudantium praesentium!
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia nobis accusantium delectus natus ullam, voluptate laboriosam totam cupiditate expedita sit!
                </p>
            </div>
            <div class="feed-action full-width">
                <div class="action-widget">
                    <button class="btn-danger-action">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        Like
                    </button>
                </div>
                <div class="action-widget">
                    <button class="btn-info-action">
                        <i class="fa fa-comments" aria-hidden="true"></i> Comment &nbsp;<span>33</span>
                    </button>
                </div>
            </div>
            <div class="feed-comments full-width">
                <form action="" class="no-margin no-padding">
                    <div class="form-group">
                        <input type="text" id="" class="form-control" placeholder="Type your comment" />
                    </div>
                </form>
                <div class="comments-section full-width mt-10">
                    <div class="comment-widget">
                        <h6 class="no-padding">
                            <img src="/assets/images/user-icon-female-muslim.png" alt="" />
                            John Doe | <span><i class="fa fa-calendar"></i> 21/21/2021</span>
                        </h6>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, nam sunt. Tempora modi nihil eaque vel sapiente consectetur facilis sit?
                        </p>
                        <p class="no-margin no-padding text-right">
                            <a href="" class="text-decoration-none text-bold text-secondary">
                                View Replies
                            </a>
                        </p>

                        <div class="replies-section full-width">
                            <div class="comment-widget">
                                <h6 class="no-padding">
                                    <img src="/assets/images/user-icon-female-muslim.png" alt="" />
                                    John Doe | <span><i class="fa fa-calendar"></i> 21/21/2021</span>
                                </h6>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, nam sunt. Tempora modi nihil eaque vel sapiente consectetur facilis sit?
                                </p>
                            </div>

                            <div class="comment-widget">
                                <h6 class="no-padding">
                                    <img src="/assets/images/user-icon-female-muslim.png" alt="" />
                                    John Doe | <span><i class="fa fa-calendar"></i> 21/21/2021</span>
                                </h6>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, nam sunt. Tempora modi nihil eaque vel sapiente consectetur facilis sit?
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="comment-widget">
                        <h6 class="no-padding">
                            <img src="/assets/images/user-icon-female-muslim.png" alt="" />
                            John Doe | <span><i class="fa fa-calendar"></i> 21/21/2021</span>
                        </h6>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, nam sunt. Tempora modi nihil eaque vel sapiente consectetur facilis sit?
                        </p>
                        <p class="no-margin no-padding text-right">
                            <a href="" class="text-decoration-none text-bold text-secondary">
                                View Replies
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        
        <div class="feed-widget">
            <div class="feed-header">
                <a [routerLink]="['/auth', 'feed-detail']" class="text-decoration-none">
                    <h4 class="text-capitalize">
                        <img src="/assets/images/user-icon-female.png" alt="" />
                        Timmy Adams
                    </h4>
                </a>
                <p class="no-margin">
                    <i class="fa fa-calendar"></i> 21/12/2021
                </p>
                <p class="post-tag">
                    <span class="text-capitalize">
                        Sponsored
                    </span>
                </p>
            </div>
            <div class="feed-image">
               <img src="/assets/images/financial-analysis-pic1.jpg" alt="" />
            </div>
            <div class="feed-content full-width">
                <a [routerLink]="['/auth', 'feed-detail']" class="text-decoration-none">
                    <h4 class="text-danger text-capitalize">
                        Post title goes here
                    </h4>
                </a>
                <p class="no-margin">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem ut quis placeat est voluptatum officia pariatur labore. Ab rerum incidunt quibusdam ut, corrupti possimus quia reprehenderit laborum aperiam laudantium praesentium!
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia nobis accusantium delectus natus ullam, voluptate laboriosam totam cupiditate expedita sit!
                </p>
            </div>
            <div class="feed-action full-width">
                <div class="action-widget">
                    <button class="btn-danger-action">
                        <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                        Like
                    </button>
                </div>
                <div class="action-widget">
                    <button class="btn-info-action">
                        <i class="fa fa-comments" aria-hidden="true"></i> Comment &nbsp;<span>33</span>
                    </button>
                </div>
            </div>
            <div class="feed-comments full-width">
                <form action="" class="no-margin no-padding">
                    <div class="form-group">
                        <input type="text" id="" class="form-control" placeholder="Type your comment" />
                    </div>
                </form>
                <div class="comments-section full-width mt-10">
                    <div class="comment-widget">
                        <h6 class="no-padding">
                            <img src="/assets/images/user-icon-female-muslim.png" alt="" />
                            John Doe | <span><i class="fa fa-calendar"></i> 21/21/2021</span>
                        </h6>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, nam sunt. Tempora modi nihil eaque vel sapiente consectetur facilis sit?
                        </p>
                        <p class="no-margin no-padding text-right">
                            <a href="" class="text-decoration-none text-bold text-secondary">
                                View Replies
                            </a>
                        </p>

                        <div class="replies-section full-width">
                            <div class="comment-widget">
                                <h6 class="no-padding">
                                    <img src="/assets/images/user-icon-female-muslim.png" alt="" />
                                    John Doe | <span><i class="fa fa-calendar"></i> 21/21/2021</span>
                                </h6>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, nam sunt. Tempora modi nihil eaque vel sapiente consectetur facilis sit?
                                </p>
                            </div>

                            <div class="comment-widget">
                                <h6 class="no-padding">
                                    <img src="/assets/images/user-icon-female-muslim.png" alt="" />
                                    John Doe | <span><i class="fa fa-calendar"></i> 21/21/2021</span>
                                </h6>
                                <p>
                                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, nam sunt. Tempora modi nihil eaque vel sapiente consectetur facilis sit?
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="comment-widget">
                        <h6 class="no-padding">
                            <img src="/assets/images/user-icon-female-muslim.png" alt="" />
                            John Doe | <span><i class="fa fa-calendar"></i> 21/21/2021</span>
                        </h6>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, nam sunt. Tempora modi nihil eaque vel sapiente consectetur facilis sit?
                        </p>
                        <p class="no-margin no-padding text-right">
                            <a href="" class="text-decoration-none text-bold text-secondary">
                                View Replies
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="tag-section page-section hidden-md-down">
        <h2 class="text-danger text-center no-padding">
            <i class="fa fa-filter"></i> Filters
        </h2>
        <p class="text-center">
            Filter the content your want to see on your feed
        </p>
        <div class="tags-container">
            <div class="tag">
                <div class="tag-inner">
                    Crypto
                </div>
            </div>
            <div class="tag">
                <div class="tag-inner">
                    Crypto
                </div>
            </div>
            <div class="tag">
                <div class="tag-inner">
                    Crypto
                </div>
            </div>
            <div class="tag">
                <div class="tag-inner">
                    Crypto
                </div>
            </div>
        </div>
    </div>
</main>