<syncspace-crypto-analysis-theme-toggle></syncspace-crypto-analysis-theme-toggle>
    <section class="page-container full-width">
        <main class="page-content">
            <div class="form-section">
                <h2 class="no-padding text-danger text-center">Become Analyst</h2>
                <form [formGroup]="becomeAnalystForm" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                        <label for="market">Target Market*</label>
                        <select id="market" 
                            class="form-control"
                            [formControlName]="'targetMarket'">
                            <option [value]="market" 
                                *ngFor="let market of targetMarket">
                                {{ market | uppercase }}
                            </option>
                        </select>
                        <span *ngIf="becomeAnalystForm.get('targetMarket').touched && becomeAnalystForm.get('targetMarket').errors as errorList">
                            <p class="form-helper danger" *ngIf="errorList['required']">Required field</p>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="type">Analysis Type*</label>
                        <select id="type" 
                            class="form-control" 
                            [formControlName]="'type'">
                            <option [value]="type" 
                                *ngFor="let type of analysistTypes">
                                {{ type | uppercase }}
                            </option>
                        </select>
                        <span *ngIf="becomeAnalystForm.get('type').touched && becomeAnalystForm.get('type').errors as errorList">
                            <p class="form-helper danger" *ngIf="errorList['required']">Required field</p>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="technique">Technique/Strategy*</label>
                        <input type="text" 
                            id="technique"
                            class="form-control"
                            [formControlName]="'strategy'" />
                        <span *ngIf="becomeAnalystForm.get('strategy').touched && becomeAnalystForm.get('strategy').errors as errorList">
                            <p class="form-helper danger" *ngIf="errorList['required']">Required field</p>
                        </span>
                    </div>
                    <div class="form-group">
                        <label for="bio">Bio (Tell us about yourself)*</label>
                        <textarea class="form-textarea" 
                            id="bio" 
                            cols="30" 
                            rows="10"
                            [formControlName]="'bio'"></textarea>
                        <span *ngIf="becomeAnalystForm.get('bio').touched && becomeAnalystForm.get('bio').errors as errorList">
                            <p class="form-helper danger" *ngIf="errorList['required']">Required field</p>
                        </span>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-danger btn-block" 
                            [disabled]="becomeAnalystForm.invalid">
                           Submit
                        </button>
                    </div>
                    <!-- <div class="form-group"> 
                        <ul class="no-margin no-padding">
                            <li>
                                <p class="no-margin text-center">
                                    Already have an account <a [routerLink]="['/login']">Login</a>
                                </p>
                            </li>
                            <li>
                                <p class="text-right no-margin">
                                    <a [routerLink]="['/forgot-password']">Forgot Password</a>
                                </p>
                            </li>
                        </ul>
                    </div> -->
                </form>
            </div>
        </main>
</section>